
<div>
    <h1>Hola {{name}}, aquí una lista de productos</h1>
    {{#each products}}
        <div>
            <p>nombre:{{this.name}}</p>
            <p>precio:{{this.price}}</p>
            <p>autor:{{this.autor}}</p>
            <p>paginas:{{this.pages}}</p>
            <br/>
        </div>
    {{/each}}
</div>