
<div>
    <h1>Hola {{name}}, aquí una lista de productos</h1>
    {{#each products}}
        <div>
            <p>{{this.name}}</p>
            <p>{{this.price}}</p>
            <p>{{this.autor}}</p>
            <p>{{this.pages}}</p>
            <br/>
            <p>me ejecuto</p>
        </div>
    {{/each}}
</div>